<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Adicionar Filme</title>
    <link href="/style/AddSeries.css" rel="stylesheet">

</head>
<body>
<h1>Tads 4º Semestre Turma {B} 2023-N</h1>
<br>
<hr>
<div id="container">
    <h1>Incluir Novas Série</h1>
    <form action="/form" method="post">
        <label for="titulo">Título do Filme:</label>
        <input id="titulo" name="titulo" required type="text">

        <label for="genero">Gênero:</label>
        <input id="genero" name="genero" required type="text">

        <label for="anoLancamento">Ano de Lançamento:</label>
        <input id="anoLancamento" name="anoLancamento" required type="number">

        <button onclick="exibirMensagemSucesso()" type="submit">Salvar</button>
        <!-- Seus campos de formulário aqui -->
    </form>
</div>
<!-- Exibe mensagens de erro -->
<ul th:each="errorMessage : ${errorMessages}" th:if="${errorMessages}">
    <li th:text="${errorMessage}"></li>
</ul>
<div class="button-listar">
    <a class="" th:href="@{/listarSeries}">Listar Filmes e Series</a>
</div>
</body>
</html>
