<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>LISTA SERIES E Filme </title>
    <link href="/style/ListarSeries.css" rel="stylesheet">

</head>
<body>
<div id="container">

    <h1>Tads 4º Semestre Turma {B} 2023-N</h1>
    <div id="button-link-voltar">
        <hr>
        <a class="link-voltar" th:href="@{/index.html}">Home</a>
    </div>
    <video autoplay id="video-background" loop muted>
        <source th:src="@{/assents/videoClips/Logotipo.mp4}" type="video/mp4">
        Seu navegador não suporta o elemento de vídeo.
    </video>


    <div class="alertSuccess" th:if="${mensagem}">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <span th:text="${mensagem}"></span>

    </div>

<!--    &lt;!&ndash; Exibir mensagem de sucesso se presente no modelo &ndash;&gt;-->
<!--    <div class="alertSuccess" th:if="${mensagem}">-->
<!--        <p th:text="${mensagem}"></p>-->
<!--    </div>-->

    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Título</th>
            <th>Gênero</th>
            <th style="width: 11em;">Lançamento Ano:</th>
        </tr>
        </thead>
        <tbody>
<!--        onclick="showTitleAlert(this)">-->
        <tr th:each="item : ${series}" >
            <td th:text="${item.id}"></td>
            <td th:text="${item.titulo}"></td>
            <td th:text="${item.genero}"></td>
            <td th:text="${item.anoLancamento}"></td>
        </tr>
        </tbody>

    </table>
</div>

<div id="button-link-add">
    <a class="link-add" th:href="@{/addSeries}">Adicinar Filmes e Series</a>
    <hr>
    <br><br>
</div>




<!-- Add this script block in the head section of your HTML -->
<!--<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>-->


<!-- Conteúdo da sua página aqui -->



<!-- Script para manipulação de eventos relacionados às séries -->
<script>
    // Função para exibir alerta com o título da série clicada
    function exibirAlerta(row) {
        // Supondo que o título está na segunda célula (índice 1) da linha clicada
        var texto = $(row).find('td:eq(0)').text();

        // Verificar se a série já foi adicionada nesta sessão
        if (!sessionStorage.getItem('serieAdicionada')) {
            // Exibir um alerta com o título da série clicada
            exibirAlertaDeSucesso('Série Adicionada: ' + texto);

            // Adicionar a mensagem de sucesso apenas uma vez por sessão
            sessionStorage.setItem('serieAdicionada', 'true');
        }
    }

    // Função para exibir alerta de sucesso e remover após um intervalo
    function exibirAlertaDeSucesso(mensagem) {
        // Adicionar temporariamente a mensagem de sucesso na página
        var mensagemDeSucesso = $('<div class="alertSuccess">' + mensagem + '</div>');
        $(document.body).append(mensagemDeSucesso);

        // Remover a mensagem após 3 segundos (3000 milissegundos)
        setTimeout(function () {
            mensagemDeSucesso.remove();
        }, 1000);
    }

</script>



</body>
</html>
